{% extends "RuyFrotas/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block "title" %}{% if is_editar %} Editar Manutenção {% else %} Cadastrar Manutenção {% endif %}{% endblock %}

{% block nav_manutencoes %} active{% endblock %}


{% block conteudo  %}
<section class="py-5 container">
                <div class="card card-primary card-outline mb-4">
                  <div class="card-header">
                    <div class="card-title">Dados da Manutenção</div>
                  </div>
                   <form method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                      <div class="mb-3">
                        {% csrf_token %}
                        {{ form | crispy }}
                      </div>
                    </div>
                    <div class="card-footer">
                    <input type="submit" value="Enviar" class="btn btn-primary">
                    </div>
                  </form> 
                </div>
              </div>   
              </section>
        
{{ form.media }}
{% endblock %}


              