{% extends "RuyFrotas/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block "title" %}Minha conta{% endblock %}

{% block conteudo %}

<section class="py-5 container">


<div class="card card-primary card-outline mb-4">

    <div class="card-header">
        <div class="card-title">Minha conta</div>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="card-body">
            {{ form|crispy }}
        </div>

        <div class="card-footer">
            <input type="submit" value="Salvar alterações" class="btn btn-primary">
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
            <a href="{% url 'alterar_senha' %}" class="btn btn-warning float-end">
                Alterar senha
            </a>
        </div>

    </form>

</div>


</section>
{% endblock %}
