{% extends "RuyFrotas/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block "title" %}Editar Motorista{% endblock %}

{% block nav_motoristas %} active{% endblock %}

{% block conteudo %}

<section class="py-5 container">

    <div class="card card-primary card-outline mb-4">

        <div class="card-header">
            <div class="card-title">Editar Motorista</div>
        </div>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="card-body">

                {{ form|crispy }}

            </div>

            <div class="card-footer">

                <input
                    type="submit"
                    value="Salvar alterações"
                    class="btn btn-primary"
                >

                <a
                    href="{% url 'motoristas' %}"
                    class="btn btn-secondary"
                >
                    Cancelar
                </a>

            </div>

        </form>

    </div>

</section>

{% endblock %}