{% extends "RuyFrotas/base.html" %}

{% block "title" %}Senha alterada{% endblock %}

{% block conteudo %}

<section class="py-5 container">

    <div class="card card-primary card-outline">

        <div class="card-body">

            <h4>Senha alterada com sucesso!</h4>

            <p>
                Sua senha foi redefinida. Agora você pode entrar
                utilizando sua nova senha.
            </p>

            <a href="{% url 'login' %}" class="btn btn-primary">
                Ir para o login
            </a>

        </div>

    </div>

</section>

{% endblock %}