{% extends "RuyFrotas/base.html" %}

{% block "title" %}E-mail enviado{% endblock %}

{% block conteudo %}

<section class="py-5 container">

    <div class="card card-primary card-outline">

        <div class="card-body">

            <h4>Verifique seu e-mail</h4>

            <p>
                Se existir uma conta associada ao e-mail informado,
                você receberá instruções para redefinir sua senha.
            </p>

            <a href="{% url 'login' %}" class="btn btn-primary">
                Voltar para o login
            </a>

        </div>

    </div>

</section>

{% endblock %}